<div
  class="flex justify-between w-full px-[30px] py-[20px] bg-black text-[#8F8F8F]"
>
  <div>
    <p class="w-[400px] mb-[10px]">
      Oʼzbekiston Respublikasi 100017, Toshkent shahari, Yunusobod tumani,
      А.Qodiriy koʼchasi 2
    </p>
    <div class="flex items-center gap-[10px]">
      <span class="material-symbols-outlined"> call </span>
      <a href="tel:123-456-7890">123-456-7890</a>
      <span class="material-symbols-outlined"> mail </span>
      <a href="tel:123-456-7890">123-456-7890</a>
    </div>
  </div>
  <div>
    <div class="flex gap-[15px] items-center justify-end w-full">
      <img
        src="./assets/social/internet.png"
        class="w-[25px] h-[25px] object-contain"
        alt=""
      />
      <img
        src="./assets/social/telegram.png"
        class="w-[25px] h-[25px] object-contain"
        alt=""
      />
      <img
        src="./assets/social/youtube.png"
        class="w-[25px] h-[25px] object-contain"
        alt=""
      />
      <img
        src="./assets/logo/uzinfocom.png"
        class="w-[130px] h-[60px] object-contain"
        alt=""
      />
    </div>
    <p>© 2019 - 2023 ANTIDOPING Barcha huquqlar himoyalangan</p>
  </div>
</div>
